@model DemoDPGJobData.ViewModels.JobDataViewModel;

@{
    ViewData["Title"] = "Add Data";
}

<div class="container">

<h2>Add Data to Firestore</h2>

<form asp-action="AddData" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label asp-for="DemoJobData.Initials" class="control-label">Initials</label>
            <input asp-for="DemoJobData.Initials" 
                class="form-control" maxlength="2" required
                placeholder="Example:  CP" />
            <span asp-validation-for="DemoJobData.Initials" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label class="mr-1" style="padding-right: 1em">Today's Date:</label>
            <input class="form-control" placeholder="Please select the date" 
                type="date" 
                asp-for="DemoJobData.DateToday" 
                name="DemoJobData.DateToday"/>
            <span asp-validation-for="DemoJobData.DateToday" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label asp-for="DemoJobData.JobNum" class="control-label">Job Number</label>
            <input asp-for="DemoJobData.JobNum" 
                class="form-control" maxlength="5" required
                placeholder="Example:  12345" />
            <span asp-validation-for="DemoJobData.JobNum" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label  class="control-label" asp-for="JobOp.Id">Select Operation</label>
            <select class="form-select" asp-for="JobOp.Id" asp-items="ViewBag.JobOps" required></select>
            <span asp-validation-for="JobOp.Id" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label asp-for="DemoJobData.StartTime" class="control-label">Start Time</label>
            <input 
                type="time"
                asp-for="DemoJobData.StartTime"
                name="DemoJobData.StartTime" 
                class="form-control" maxlength="12" required/>
            <span asp-validation-for="DemoJobData.StartTime" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="DemoJobData.EndTime" class="control-label">End Time</label>
            <input 
                type="time"
                asp-for="DemoJobData.EndTime"
                name="DemoJobData.EndTime" 
                class="form-control" maxlength="12" required/>
            <span asp-validation-for="DemoJobData.EndTime" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label asp-for="DemoJobData.Quantity" class="control-label">Quantity</label>
            <input asp-for="DemoJobData.Quantity" 
                class="form-control" maxlength="4" required
                placeholder="Example:  400" />
            <span asp-validation-for="DemoJobData.Quantity" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group mb-3">
        <input type="submit" value="Add Data" class="btn btn-primary" />
    </div>

</form>

<div>
    <a asp-controller="Firestore" asp-action="ViewAllData">Back to List</a>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
