@model DemoDPGJobData.ViewModels.AdministrationViewModel;

@{
    ViewData["Title"] = "Delete Data";
}

<div class="container">

<h2>Delete Data in Firestore</h2>

<form asp-action="DeleteData" method="post">
        <input type="hidden" asp-for="JobOp.Id" value="@Model.JobOp.Id" readonly/>

    <div class="row">
        <div class="col-sm-4 mb-3">
            <label asp-for="JobOp.Id" class="control-label">Job Id</label>
            <input type="text" asp-for="JobOp.Id" 
                class="form-control"/>
        </div>
        <div class="col-sm-4 mb-3">
            <label asp-for="JobOp.OpName" class="control-label">Operation Name</label>
            <input asp-for="JobOp.OpName" 
                class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="form-group">
            <a asp-controller="Administration" asp-action="ViewAllOperations" class="btn btn-outline-danger">Discard Changes</a>
        <button type="submit" class="btn btn-danger">Delete</button>
        </div>
    </div>


</form>

</div>