@{
    ViewData["Title"] = "Administration Page";
}
    
<div class="card-group text-center p-2">
    <div class="card bg-primary p-3">
        <h2 class="m-b-0">
            <a class="page-link" asp-controller="Administration" asp-action="ViewAllOperations">
                <i class="fas fa-search"></i>
                Manage Operations
            </a>
        </h2>
    </div>

    
    
</div>